
/* Center's Everything Under Body */
#centercontent
{
	background: white;
	width: 80%;
	margin: 0 auto;
	border: 3px solid black;
}

/* Center's Everything */
#header
{
	
	background: #CDCDCD;
	width: 80%;
	margin: 0 auto;
	border: 3px solid black;
	
}



/* border where navigation is */
.menu
{

	background: #C0C0C0;
	border: 1px solid black;
	
}

/* just buttons */
.btn-group .button 
{
	
  background-color: #808080; /* Grey */
  border: 1px solid #696969;
  color: black;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
  border-radius: 8px;
  box-shadow: 0 5px rgb(105, 105, 105);
  
}


.btn-group .button:not(:last-child) 
{
  border-right: none; /* Prevent double borders */
}

.btn-group .button:hover 
{
	
  background-color: #A9A9A9;
  
}


.button:active 
{
	
  background-color: #3e8e41;
  box-shadow: 0 5px rgb(105, 105, 105);
  transform: translateY(4px);
  
}

/* aligning buttons */
/*.row
{
	width: 40%;
	justify-content: center;
	display: flex;
	flex-direction: row;
	padding-top: 5px;
	
}

.expand
{
	
	flex-grow: 1;
	
}*/

/*creates the background image */
.projectsBody
{
	background-image: url("../images/Kindertapete-Uni-Einfarbig-hellblau-35566-5-189268.jpg");
}